.b-lecture__lector
{
	display: inline-block;
	width: 205px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	font-size: 14px;
	line-height: 52px;
}

@media print {
	.b-lecture__lector img
	{
		display: none;
	}
}