.b-day
{
	height: 95px;
	margin-bottom: 5px;
	position: relative;

	font-family: Verdana, sans-serif;
	color: #000;
	font-size: 10px;
}

@media print {
	.b-day
	{
		border-bottom: 1px solid #000;
	}
}