.b-lecture__topic
{
	display: inline-block;
	float: left;
	margin-top: 5px;
	width: 540px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	font-size: 22px;
}

.b-lecture__topic sup
{
	margin-left: 5px;
	display: inline-block;
	width: 40px;

	text-align: center;
	font-size: 10px;
}

@media print {
	.b-lecture__topic sup
	{
		display: none;
	}
}

.b-lecture__topic sup.green
{
	background-color: #00ff00;
}

.b-lecture__topic sup.brown
{
	background-color: #d9a16a;
}


.b-lecture__topic sup a
{
	color: black;
	display: block;
	width: 100%;
	text-decoration: none;
}