.b-addDayForm, .b-editDayForm
{
	display: none;
	width: 960px;
	height: 280px;
	margin: 20px auto 0;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #e0e0e0;

	font-family: Georgia, serif;
	font-size: 12px;
	font-style: italic;
}

.b-addDayForm input, .b-editDayForm input
{
	height: 17px;
	padding: 0 3px;
	margin-left: 6px;
}

.b-addDayForm input.short, .b-editDayForm input.short
{
	width: 40px;
	margin: 0 10px;
}

.b-addDayForm input.middle, .b-editDayForm input.middle
{
	width: 237px;
	margin-left: 6px;
}

.b-addDayForm input.long, .b-editDayForm input.long
{
	width: 291px;
}

.b-editDayForm
{
	margin: 5px auto 20px !important;
	box-shadow: 0 0 8px 0 #eee inset;
}